@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --cor1: #5B53C5;
    --cor2: #4727AA;
    --cor3: #2D137B;
    --cor4: #210656;
    --cor5: #0F0139;
    --cor6: #7871D1;
    --cor7: #9D98DF;
    --cor8: #C0C2EE;
    --cor9: #E2E2F7;
    --cor10: #FEFEFF;


    --fontTitulo: "Arvo", serif;
    --fontPoppins: "Poppins", sans-serif;
    --fontRoboto: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px){
   body{
        width: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        padding-bottom: 10px;
    }

    header{
       height: 70px;
       background-image: linear-gradient(to right, #9D98DF, #7871D1);

       display: flex;
       align-items: center;
       justify-content: space-between;
       

    }
     .linkTitulo h1 {
        font-family: var(--fontTitulo);
        font-size: 1.3em;
        margin-left: 15px;
        letter-spacing: -1px;
        color: var(--cor10);
        font-weight: 500;
    }

    .linkTitulo{
        text-decoration: none;
    }
    .linkTitulo:visited{
        color: inherit;
    }

    /*AREA DO PERFIL*/

    .perfil{
        width: 100%;
        margin-top: 85px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        animation: showSite .5s ease-in;
    }

    .imgPerfil{
        width: 200px;
        height: 200px;
        margin: auto;

        border-radius: 100%;
        border: 1px solid #7871D1;
        box-shadow: 1px 1px 4px 1px #7871d19d;

        background-image: url(../midia/imgs/Barbeiro1.jpg);
        background-size: cover;

        color: var(--cor5);

        animation: animaPerfil ease-in-out 3s infinite;

    }
    .nomePerfil h3{
        margin-top: 15px;
        font-family: var(--fontRoboto);
        font-weight: normal;
        font-size: 1.15em;
        text-align: center;
        
    }
    
    .nomePerfil span{
        margin-top: 5px;

        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    .nomePerfil span img{
        width: 21px;
    }
    .nomePerfil p{
        display: inline-block;
        margin-top: 5px;      
        text-align: center;
    }
    p.notaAvalia{
        font-family: var(--fontPoppins);
        font-size: 1em;
        margin-bottom: 5px;

    }
   
    .numeroAvalia{
        margin-left: 30px;
        font-family: var(--fontRoboto);
        font-size: .8em;

    }


    /* AREA DE AGENDAMENTO */



    .titAgendar{
        font-family: var(--fontRoboto);
        margin-top: 100px;
        font-size: 1.2em;
        margin-left: 30px;
        font-weight: normal;
    }
    .areaAgendamento span, .areaHorario span{
        display: flex;
        align-items: center;
        
        margin-top: 40px;
        margin-left: 35px;
        font-family: var(--fontRoboto);
        font-size: .9em;
    }
    .areaAgendamento span img, .areaHorario span img{
        width: 22px;
    }
    .conteinerDias{
        width: 390px;
        margin: auto;
        margin-top: 40px;

        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 20px;
        
    }

    .conteinerDias div{
        border: 1px solid #9D98DF;
        width: 100px;
        height: 40px;

        font-family: var(--fontRoboto);
        font-size: .85em;
        border-radius: 5px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: .25s ease-in-out;
        
    }   
    .diaLotado{
        background-color: var(--cor6);
        color: #E2E2F7;
    }
    .conteinerDias div:hover, .conteinerFeedback div:hover{
        box-shadow: 1px 1px 3px #7871d13a;
        border: 1px solid #7871D1;
    }
    .conteinerDias div:last-child{
      grid-column: 2/3;
    }

    /* -AREA DE HORÁRIOS */

    .areaHorario{
       margin-top: 100px;
    }
    .areaHorario ul{
        width: 390px;
        margin: auto;
        margin-top: 40px;

        list-style-type: none;
        font-family: var(--fontPoppins);
        font-size: .85em;

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 25px;
    }
    .areaHorario ul li{
        cursor: pointer;
        transition: .25s ease-in-out;
    }
    .horaLotado{
        color: #7871D1;
    }
    .areaHorario ul li:hover{
        transform: translateY(-1px);
    }

    /* AREA DE OBSERVAÇÃO */

    .observacao{
        margin-top: 100px;
    }
    .observacao h1{
        font-family: var(--fontRoboto);
        font-size: 1.3em;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .observacao p{
        font-size: .9em;
        width: 410px;
        margin-left: 30px;
        font-family: var(--fontRoboto);
        text-indent: 5px;
        line-height: 18px;
    }
    .observacao p span{
        color: #7871D1;
        font-weight: bold;
    }

     /* AREA DE FEEDBACK */

     .areaFeedback{
        margin-top: 90px;
     }

     .areaFeedback h3{
        font-family: var(--fontRoboto);
        font-size: 1.1em;
        font-weight: normal;
        text-align: center;
     }

     .conteinerFeedback{
          width: 390px;
          margin: auto;
          margin-top: 40px;

          display: grid;
          grid-template-columns: repeat(3,1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 20px;
     }

     .conteinerFeedback div{
        border: 1px solid #C0C2EE;
        width: 120px;
        height: 40px;
        border-radius: 5px;

        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--fontRoboto);
        font-size: .85em;

        cursor: pointer;
        transition: .25s ease-in-out;

     }

     .btnDenunciar{
        width: 120px;
        height: 40px;
        margin-top: 80px;
        margin-left: 30px;
        margin-bottom: 20px;

        background-color: var(--cor7);
        border: none;
        border-radius: 5px;
        color: var(--cor10);

        box-shadow: 1px 1px 4px #7871d15b;
        cursor: pointer;
        transition: .25s ease-in-out;
        
     }

     .btnDenunciar:hover{
        box-shadow: 1px 1px 4px #7871d19c;
        
     }

    @keyframes animaPerfil {
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-3px);
        }
        100%{
            transform: translateY(0);
        }
    }
     
}