@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --cor1: #5B53C5;
    --cor2: #4727AA;
    --cor3: #2D137B;
    --cor4: #210656;
    --cor5: #0F0139;
    --cor6: #7871D1;
    --cor7: #9D98DF;
    --cor8: #C0C2EE;
    --cor9: #E2E2F7;
    --cor10: #FEFEFF;


    --fontTitulo: "Arvo", serif;
    --fontPoppins: "Poppins", sans-serif;
    --fontRoboto: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px){
   body{
        width: 100%;
        height: 100vw;
    }

    header{
       height: 70px;
       background-image: linear-gradient(to right, #9D98DF, #7871D1);

       display: flex;
       align-items: center;
       justify-content: space-between;

    }
    header > h1{
        font-family: var(--fontTitulo);
        font-size: 1.3em;
        margin-left: 15px;
        letter-spacing: -1px;
        color: var(--cor10);
        font-weight: 500;
    }
    header > img{
        margin-right: 15px;
    }
    .fundoBarbearia{
        height: 450px;
        background-image: url(../midia/imgs/FundoBarbeariaEditada.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .fundoBarbearia > p{
        color: var(--cor10);
        font-family: var(--fontTitulo);
        margin-left: 25px;
        font-size: 1.1em;

        animation: textoPiscando infinite 5s forwards ease-in-out;        
    }


    /* TITULO E FORMULARIO*/
   

    main{
        border: 1px solid red;
        background-color: var(--cor10);

        display: flex;
        flex-direction: column;
    }

    .divTitForm{
        margin: auto;
        width: 280px;
        margin-top: 80px;
    }

    p.titForm{
        color: var(--cor1);
        font-size: 1em;
        font-family: var(--fontPoppins);
    }

    form{
        width: 80%;
        margin: auto;
        margin-top: 25px;
        height: 250px;
        display: flex;
        border: 1px solid var(--cor6);
        border-radius: 10px;
        box-shadow: 1px 1px 4px 1px #9d98df37;


        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        animation: formPiscando 5s infinite forwards ease-in-out;

    }

    form div{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    form div img{
        width: 22px;
        margin-right: 5px;
    }

    form input{
        border-radius: 5px;
        border: 1px solid #E2E2F7;
        width: 80%;
        height: 35px;

        color: var(--cor4);
        font-family: var(--fontRoboto);
        text-indent: 10px;
        cursor: pointer;
    }

    form input:focus{
        outline: none;
        border: 1px solid var(--cor1);
        box-shadow: 0 0 5px #c0c2ee68 ;
    }
   
    @keyframes textoPiscando {
        0%{
            text-shadow: 0 0 0 transparent;
        }

        50%{
            text-shadow:
             0 0 2px #5b53c5,
             0 0 5px #5b53c5,
             0 0 10px #5b53c5;
        }

        100%{
           text-shadow: 0 0 0 transparent;
        }
    }

    @keyframes formPiscando {
        0%{
             box-shadow: 1px 1px 4px 1px #9d98df37;
        }
        50%{
            box-shadow: 1px 1px 4px 1px #9d98dfd1;
        }
        100%{
             box-shadow: 1px 1px 4px 1px #9d98df37;
        }
    }
}
