@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --cor1: #5B53C5;
    --cor2: #4727AA;
    --cor3: #2D137B;
    --cor4: #210656;
    --cor5: #0F0139;
    --cor6: #7871D1;
    --cor7: #9D98DF;
    --cor8: #C0C2EE;
    --cor9: #E2E2F7;
    --cor10: #FEFEFF;


    --fontTitulo: "Arvo", serif;
    --fontPoppins: "Poppins", sans-serif;
    --fontRoboto: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px){
   body{
        width: 100%;
        height: 100vw;
        overflow-x: hidden;
        /* overflow-y: hidden; */
    }

    header{
       height: 70px;
       background-image: linear-gradient(to right, #9D98DF, #7871D1);

       display: flex;
       align-items: center;
       justify-content: space-between;

    }
    header > h1{
        font-family: var(--fontTitulo);
        font-size: 1.3em;
        margin-left: 15px;
        letter-spacing: -1px;
        color: var(--cor10);
        font-weight: 500;
    }
    header > img{
        margin-right: 15px;
        cursor: pointer;
    }
    .fundoBarbearia{
        height: 450px;
        background-image: url(../midia/imgs/FundoBarbeariaEditada.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        

        display: flex;
        flex-direction: column;
        justify-content: center;

        
    }
    .fundoBarbearia > p{
        color: var(--cor10);
        font-family: var(--fontTitulo);
        margin-left: 25px;
        font-size: 1.1em;

        animation: textoPiscando infinite 5s forwards ease-in-out;        
    }


    /* TITULO E FORMULARIO*/
   

    main{
        background-color: var(--cor10);

        display: flex;
        flex-direction: column;

        
    }

    .divTitForm{
        margin: auto;
        width: 280px;
        margin-top: 80px;
    }

    p.titForm{
        color: var(--cor1);
        font-size: 1em;
        font-family: var(--fontPoppins);
    }

    form{
        width: 80%;
        margin: auto;
        margin-top: 25px;
        height: 250px;
        display: flex;
        border: 1px solid var(--cor6);
        border-radius: 10px;
        box-shadow: 1px 1px 4px 1px #9d98df37;


        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        animation: formPiscando 5s infinite forwards ease-in-out;

    }

    form div{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    form div img{
        width: 22px;
        margin-right: 5px;
    }

    form input{
        border-radius: 5px;
        border: 1px solid #E2E2F7;
        width: 80%;
        height: 35px;

        color: var(--cor4);
        font-family: var(--fontRoboto);
        text-indent: 10px;
        cursor: pointer;
    }

    form input:focus{
        outline: none;
        border: 1px solid var(--cor1);
        box-shadow: 0 0 5px #c0c2ee68 ;
    }
   
    /* PARCEIROS */

    .titParceiros{
        margin-top: 80px;
        text-align: center;
    }

    .secParceiros{
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        gap: 25px;
        padding: 5px;
        scroll-behavior: smooth;
    }


    .secParceiros:hover .divParceiros:not(:hover){
        opacity: .6;
        transform: scale(.9);
    }

    .secParceiros::-webkit-scrollbar{
        background-color: var(--cor9);
        height: 12px;
        border-radius: 2px;
    }
    .secParceiros::-webkit-scrollbar-thumb{
      background-color: var(--cor8);
      border-radius: 4px;
    }

    .parcConteiner p{
        color: #0F0139;
        font-family: var(--fontRoboto);
        margin-top: 5px;
        font-size: 1em;
        
    }
    .parcConteiner > p:last-child{
        margin-top: 2px;
        opacity: .5;
        font-size: .8em;
    }

    .divAvaliacao{
        width: 100px;
        height: 60px;
        background-color: #110a2574;
        border-radius: 0px 0px 0px 4px;
    }

    .divAvaliacao p {
        font: 1em;
        color: var(--cor10);
        text-align: center;
        font-size: 1em;
        font-family: var(--fontPoppins);
    }
    .divAvaliacao p:last-child{
        font-size: .7em;
        font-weight: normal;
        font-family: var(--fontRoboto);
    }

    .divParceiros{
        flex: 0 0 15rem;
        width: 250px;
        height: 150px;
        border: 1px solid #7871D1;
        border-radius: 7px;
        box-shadow: 1px 1px 4px 1px #5b53c56a;
        cursor: pointer;
        transition: .35s ease-in-out;

        display: flex;
        justify-content: right;
    }

    
    .parceiro1{
        background-image: url(../midia/imgs/Barbeiro1.jpg);
        background-size: cover;
        
    }
    .parceiro2{
        background-image: url(../midia/imgs/Barbeiro2.jpg);
        background-size: cover;

    }
    .parceiro3{
        background-image: url(../midia/imgs/Barbeiro3.jpg);
        background-size: cover;

    }
    .parceiro4{
        background-image: url(../midia/imgs/Barbeiro4.jpg);
        background-size: cover;

    }
    .parceiro5{
        background-image: url(../midia/imgs/Barbeiro5.jpg);
        background-size: cover;

    }

    /* APLICATIVO */


    .conteinerSobre{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .secOutros{
        margin-top: 100px;
        background-color: #210656;
    }

    .secOutros > h3{
        grid-area: h3;
        margin-top: 50px;
        color: var(--cor10);
        font-family: var(--fontPoppins);
        font-size: 1em;
        font-weight: normal;
        margin-left: 15px;

    }

    .secStore{
        margin-top: 70px;
        margin-left: 15px;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .secStore > div{
        border: 1px solid #FEFEFF;
        width: 140px;
        height: 50px;
        box-shadow: 1px 1px 4px 1px #7871d164;

        border-radius: 8px;
        color: var(--cor10);

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .9em;
        font-family: var(--fontPoppins);
        cursor: pointer;
        transition: .25s;
    }

    .secStore > div:hover{
         transform: translateY(-2px);
    }
    .logoApple, .logoPlay{
        margin-right: 5px;
    }

    .secLogo{
        display: flex;
        align-items: center;
        margin-top: 80px;
        margin-right: 30px;
    }

   .iconLogo{
    width: 80px;
    height: 80px;
    border-radius: 18px;

    background-color: var(--cor6);

    position: relative;
    cursor: pointer;
    transition: .25s;

    animation: logoAppFlutuando 3s forwards ease-in-out infinite;
   }
   .iconLogo > .bolinha{
    background-color: var(--cor9);
    height: 5px;
    width: 5px;
    
    border-radius: 50%;

    position: absolute;
    top: 10px;
    left: 10px;
   }

   .iconLogo > .ret1{
    background-color: var(--cor9);
    width: 55px;
    height: 4px;
    border-radius: 2px;

    position: absolute;
    top: 38px;
    left: 11px;
    transform: rotate(-40deg);
   }

   .iconLogo > .ret2 {
    background-color: var(--cor1);
    width: 40px;
    height: 4px;
    border-radius: 2px;

    position: absolute;
    top: 45px;
    left: 25px;

    transform: rotate(-40deg);
   }

   .secLogo > h1{
    color: var(--cor10);
    font-family: var(--fontTitulo);
    font-size: 1.7em;
    margin-left: 10px;

    cursor: pointer;

   }


   /*AREA DE CONTATO / SUPORTE*/

   .secSuporte{
    margin-top: 100px;
    margin-left: 20px;
    padding-bottom: 20px;
   }
   .secSuporte > span{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 4px;

    cursor: pointer;
   }
   .secSuporte img {
    width: 20px;
   }
   .secSuporte p{
    color: var(--cor10);
    font-family: var(--fontRoboto);
    font-size: 1em;
   }


   /*ANIMAÇAO SCROLL*/
   .todo{
    opacity: 0;
    transition: .5s ease;
   }
   .fromLeft{
    transform: translateX(-50px);
   
   } 
   .fromRight{
    transform: translateX(50px);
    
   }
   .show{
    opacity: 1;
    transform: translateX(0);
   }

   /* MENU MOBILE */

  

   .menuOptions{
    background-color: var(--cor6);
    height: 250px;
    width: 100%;
   
    box-shadow: 1px 1px 4px 1px #5851be6f;
    z-index: 1;
    position: absolute;

    transform: translateY(-5px);
    transition: .5s ease;

    opacity: 0;
    
   }
   
   .menuOptions div {
    margin-top: 50px;
    margin-left: 20px;

    font-family: var(--fontRoboto);
    font-size: 1.1em;
    color: var(--cor10);

    display: flex;
    align-items: center;
    gap: 5px;

    max-width: 140px;
    cursor: pointer;

    transform: translateY(-8px);
    transition: .7s ease;

   }

   .menuOptions div:last-child{
    margin-top: 20px;
   }
   .menuOptions p{
    transition: .15s ease-in-out;
   }
   .menuOptions p:hover{
    color: var(--cor3);
    transform: translateY(-2px);
   }
   
   /* EFEITO MENU APARECENDO */
 .hideAtiv{
    z-index: 0;
    opacity: .5;
    pointer-events: none;
    
   }

   .showMenu{
    opacity: 1;
    transform: translateY(0);
    transition: opacity .3s, transform .3s;
   }

   .bodyOverflow{
    overflow-y: hidden;
   }

   


    @keyframes textoPiscando {
        0%{
            text-shadow: 0 0 0 transparent;
        }

        50%{
            text-shadow:
             0 0 2px #5b53c5,
             0 0 5px #5b53c5,
             0 0 10px #5b53c5;
        }

        100%{
           text-shadow: 0 0 0 transparent;
        }
    }

    @keyframes formPiscando {
        0%{
             box-shadow: 1px 1px 4px 1px #9d98df37;
        }
        50%{
            box-shadow: 1px 1px 4px 1px #9d98dfd1;
        }
        100%{
             box-shadow: 1px 1px 4px 1px #9d98df37;
        }
    }

    @keyframes card3D {
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.1);
        }
        100%{
            transform: scale(1);
        }
    }

    @keyframes logoAppFlutuando{
        0%{
            transform: translateY(0);
            box-shadow: 1px 1px 4px 1px #fefeff2a;
        }
        50%{
            transform: translateY(-2px);
            box-shadow: 1px 1px 4px 1px #fefeff50;
        }
        100%{
            transform: translateY(0);
            box-shadow: 1px 1px 4px 1px #fefeff2a;
        }

    }

    @keyframes scrollShow {
        0%{
            transform: translateX(5);
        }
        50%{
            transform: translateY(10px);
        }
        100%{
            transform: translateX(0);
        }
    }
}
